<div class="graffiti_new clearfix">

	<div class="graffiti_new_main">
		<div class="graffiti_new_box">

			<div class="graffiti_new_head">
				<p><b>いきぬき投稿</b></p>
				<p>創作中にしたラクガキや進行状況など、一言添えてどうぞ。</p>
			</div>
			<div class="graffiti_new_image">
				<%#= attachment_field :graffiti_image, placeholder: "画像" %>
			</div>
			<div class="graffiti_new_text">
				<%= text_area :name, autofocus: true, autocomplete: 'name' %>
			</div>
			<div class="graffiti_new_btn">
				<%#= f.submit '変更を保存する', class: "btn btn-info user_edit_btn" %>
			</div>




		</div>









	</div>
<%= render 'users/side_r' %>