<div class="nested-fields">
	<div class="form-group">
		<%= f.text_field :step_name, class: "form-control", placeholder: "ネーム、下描き、ペン入れ、等最大7つまで" %>
		<%= link_to_remove_association '削除', f %>
	</div>
</div>