<%= stylesheet_link_tag 'progresses_index' %>
<div class="progress_index clearfix">

	<div class="progress_index_main">
		<div class="progress_index_box">
			<div class="progress_index_search">
				検索
			</div>

			<div class="progress_index_latest">
				開始したばかりのスケジュール(最新５件)
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p><b>締切日</b></p>
					</div>
					<div class="progress_index_latest_r">
						<p><b>メッセージ</b></p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>頑張ります！</p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>頑張ります！</p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>頑張ります！</p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>頑張ります！</p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>頑張ります！</p>
					</div>
				</div>
				＞＞もっと見る

			</div>

			<div class="progress_index_latest">
				締切まで一週間切ったスケジュール（最大３件）
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p><b>締切日</b></p>
					</div>
					<div class="progress_index_latest_r">
						<p><b>メッセージ</b></p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>やばば</p>
					</div>
				</div>
				<div class="progress_index_latest_box clearfix">
					<div class="progress_index_latest_l">
						<p>XXXX/XX/XX</p>
					</div>
					<div class="progress_index_latest_r">
						<p>もうダメかも</p>
					</div>
				</div>
				＞＞もっと見る

			</div>



		</div>



	</div>
</div>