<!-- scssはuser_showと同一 -->
	<div class="side_bar" id="layout">

		<div class="side_image">
			画像ここ
		</div>
		<div class="side_name">
			name
		</div>
		<div class="side_prof">
			prof
		</div>
		<div class="side_fav">
			fav
		</div>
		<div class="side_ikinuki">
			ikinuki
		</div>
		<div class="side_ikinuki_image">
			image
		</div>
		<div class="side_motto">
			motto
		</div>

	</div>

<!-- ↓全体用の締めdiv -->
</div>