<div class="user_index">
	<p class="user_index_h_p"><b>ユーザー一覧</b></p>
	<div class="user_index_main clearfix">

		<div class="user_index_id">
			id
		</div>
		<div class="user_index_image">
			image
		</div>
		<div class="user_index_prof">
			<div class="user_index_prof_name">
				名前
			</div>
			<div class="user_index_prof_text">
				一言
			</div>
		</div>
		<div class="user_index_btn">
			詳細/削除
		</div>

	</div>

</div>
