<div class="about_page">
	<div class="about_main">
		<div class="about_logo_box"><img src="/images/pros_logo.png" class="about_logo_image"></div>

		<p>
			当サイトは創作などの進歩状況を記録し、それを共有することをメインとするサイトです。<br>
			記録することにより進み具合を視覚化し制作状況を把握することができます。<br>
			また、それを様々なユーザーと共有することにより、<br>お互いの進み具合を確認、または応援、発破をかけるなどをして<br>
			それぞれの創作活動を高めることを目的としています。
		</p>

			<div class="about_main_title"><b>主なご利用方法</b></div>
		<p>
			サイトへログイン後、右上のメニューバー「新規投稿」から「進歩新規登録」げお進みください。<br>
			「進歩新規投稿画面」へ進みましたら、各種項目を入力してください。<br><br>
			<div class="about_image_box"><img src="/images/guide01.jpg"></div>

			作業名：（例）「○月△日のイベント用」など<br>
			締切日：自分で決めた締切日や入稿締切日など<br>
			メッセージ：進歩ページを見てくれる他の方へ向けたメッセージ<br>
			ボタンカラー：表を埋める時の色をお選びください<br>
			ページ数：漫画やイラスト集など、複数枚あるものは必要ページ数入力してください。<br>
			工程：下書き、ペン入れ、仕上げなど細かく過程を管理したい場合、最大7つまで設定できます。<br>
			<div class="about_image_box"><img src="/images/guide02.jpg"></div>

			＊ページ数と工程は一度登録しますと後から変更はできないのでご注意ください。<br>
			<div class="about_image_box"><img src="/images/guide03.jpg"></div>
			表の登録は編集ページにて行いますので、右上の方にある編集ボタンをクリックしてください。<br>
			<div class="about_image_box"><img src="/images/guide04.jpg"></div>
			画像の表を参考にしますと、２ページ目のペン入れが終わったのでボタンを押しています。<br>
			このように、該当ページ数のとある項目が終わりましたらチェックをし、「更新する」ボタンを押してください。<br>
			そうしますと先ほどボタンを押した所のマスの色が変わっています。<br>
			また、埋めたことにより下にあるバーの進行度も進み、全部埋めますと１００％となります。<br>
			<div class="about_image_box"><img src="/images/guide05.jpg"></div>
			このページは他のユーザーも見ることが可能なので、ここで「応援する」ボタンを押したり、<br>
			また進行具合が不安な場合は「心配する」ボタンを押すなどして相手へ応援や発破をかけることができます。<br><br>

			相手のマイページへと飛びますと「お気に入り」ボタンがありますので、<br>
			応援したいユーザーなどいましたら是非、お気に入りしてください。<br>
			応援リストへ追加されていつでも相手のページへ行くことができます。<br><br>

			マイページでは自分の創作状態を示すステータスがあります。<br>
			デフォルトは「未創作」になっていますが、「会員設定」ページにて<br>
			「未創作」、「創作中」、「ここを使う余裕すら無し」の3つから選ぶことができます。<br>
			<div class="about_image_box"><img src="/images/guide06.jpg"></div>
			ここを設定すると相手へ自分が創作中かどうかお知らせすることができます。<br><br>

			当サイトの主な利用方法は以上となります。

		</p>
		<div class="about_back">
			<% if user_signed_in? %>
				<%= nil %>
			<% else %>
				<%= link_to "戻る", unauthenticated_root_path, class: "pros_link" %>
			<% end %>
		</div>

	</div>
</div>
