<div class="last_page">
	<p><b>退会の前に</b></p>
	<p>云々カンヌン云々カンヌン<br>本日はお日柄もよく<br>あー云々カンヌン云々カンヌン</p>
	<div class="gb_btn">
		<%= link_to "退会する", user_registration_path, method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
	</div>
</div>



