// Place all the styles related to the graffitis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--new-----------------------------------------------*/

.graffiti_new {
	width: 100%;
	background-color: gold;
}

.graffiti_new_main {
	width: 100%;
	float: left;
	background-color: lightsalmon;
}

.graffiti_new_box {
	width: 50%;
	margin: 15px auto;
	background-color: ivory;
}

.graffiti_new_head {
	padding: 15px;
}

/*--show------------------------------------------------*/

.graf_box {
	width: 100%;
	margin: 20px auto;
	background-color: lightsalmon;
}

.graf_main_box {
	text-align: center;
	margin: 0 auto;
}

.graf_main {
	line-height: 600px;
	text-align: center;
}

.graf_text {
	width: 100%;
	padding: 5px 15px;
	text-align: center;
	background-color: gold;
}