.useful_new {
	width: 100%;
	background-color: gold;
}

.useful_main {
	width: 80%;
	float: left;
	background-color: lightsalmon;
}

.useful_box {
	width: 70%;
	margin: 15px auto;
	background-color: wheat;
}

.useful_print {
	width: 100%;
	margin: 0px auto;
	padding-bottom: 15px;
	background-color: hotpink;
}

.useful_print_title {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
}

.useful_print_names {
	width: 100%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
}

.useful_print_box {
	width: 49%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	background-color: ivory;
}

.useful_print_l {
	width: 70%;
	height: 40px;
	line-height: 40px;
	float: left;
}

.useful_print_r {
	width: 30%;
	height: 40px;
	line-height: 40px;
	float: left;
}

.useful_venue {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 15px;
	background-color: violet;
}

.useful_venue_title {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
}

.useful_venue_names {
	width: 100%;
}

.useful_venue_l {
	width: 70%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 15px;
	background-color: gold;
}

.useful_venue_r {
	width: 30%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	background-color: red;
}












