// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-new---------------------------------------------------------*/

.not_new {
	width: 100%;
	height: 100vh;
}

.not_new_box {
	width: 500px;
	margin: 20px auto 30px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #9d896c;
	background-color: #fff;
}

.not_new_box_head {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-image: linear-gradient(
    -45deg,
    #fff 25%,
    #e0ebaf 25%, #e0ebaf 50%,
    #fff 50%, #fff 75%,
    #e0ebaf 75%, #e0ebaf
	);
	background-size: 3px 3px;
}

.not_new_box_head b {
	color: #028760;
}

.not_new_text p {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e8d3c7;
}

/*-index---------------------------------------------------------*/

.not_in {
	width: 100%;
	height: 100vh;
}

.not_in_box {
	width: 800px;
	margin: 20px auto 30px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #9d896c;
	background-color: #fff;
}

.not_in_box_head {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-image: linear-gradient(
    -45deg,
    #fff 25%,
    #e0ebaf 25%, #e0ebaf 50%,
    #fff 50%, #fff 75%,
    #e0ebaf 75%, #e0ebaf
	);
	background-size: 3px 3px;
}

.not_in_box_head b {
	color: #028760;
}

.not_in_main {
	width: 780px;
	min-height: 30px;
	margin: 3px 0;
	border-bottom: 1px dashed #bfa46f;
}

.not_in_main:hover {
	background-color: #e0ebaf;
}

.not_in_main:last-child {
	border-bottom: 0px dashed #bfa46f;
}

.not_in_main_l {
	width: 90px;
	float: left;
}

.not_in_main_c {
	width: 510px;
	float: left;
}

.not_in_main_r {
	width: 180px;
	float: left;
	text-align: right;
}

.not_in_back {
	text-align: right;
	
}




