// Place all the styles related to the prints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--new-----------------------------------------------*/

.print_new {
	width: 100%;
	background-color: gold;
}

.print_new_main {
	width: 80%;
	float: left;
	background-color: lightsalmon;
}

.print_new_box {
	width: 50%;
	margin: 15px auto;
	background-color: ivory;
}

.print_new_box p {
	padding-left: 15px;
}

.print_new_head {
	padding-top: 15px;
	padding-bottom: 15px;
}