.progress_index {
	width: 100%;
	background-color: gold;
}

.progress_index_main {
	width: 80%;
	float: left;
	background-color: lightsalmon;
}

.progress_index_box {
	width: 75%;
	margin: 15px auto;
	background-color: ivory;
}

.progress_index_search {
	width: 90%;
	height: 50px;
	margin: 0 auto 15px;
	background-color: aqua;
}

.progress_index_latest {
	width: 90%;
	margin: 0 auto 15px;
	background-color: peru;
}

.progress_index_latest_box {
	width: 100%;
}

.progress_index_latest_l {
	width: 25%;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 15px;
	background-color: pink;
}

.progress_index_latest_r {
	width: 75%;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 15px;
	background-color: gold;
}



