.user_edit {
	width: 100%;
	background-color: gold;
}

.user_edit_main {
	width: 80%;
	float: left;
	background-color: lightsalmon;
}

.user_edit_l {
	width: 80%;
	margin: 0 auto;
	float: left;
	background-color: purple;
}

.user_edit_box {
	width: 40%;
	margin: 0 auto;
	background-color: aqua;
}

.user_edit_r {
	width: 20%;
	float: left;
	padding-left: 15px;
	background-color: violet;
}