<div class="mail_thanks">
<p>
  お問い合わせいただきありがとうございました。<br>
  5秒後自動的にtopへ戻ります。
</p>

</div>

<script type="text/javascript">
setTimeout(function(){
	var thanksurl = gon.url
  window.location.href = thanksurl;
}, 5*1000);
</script>